.list {
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 8px;
    margin: 1.2rem 0;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: #213547;
}

.item:active .image {
    transform: scale(0.9);
}

.item_active {
    color: #0389ff;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 2px;
    border-radius: 7px;
    transition: all 100ms ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image_active {
    border: 2px solid #0389ff;
    transform: scale(1.04);
}